.original-input {
  display: none;
}

.file-input {
  background: #2f80ed;
  color: #ffffff;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  transition: 1s;
}

.file-input:focus {
  outline: none;
}

.file-input:hover {
  background: #225ca8;
  transition: 1s;
}
